{% if current_user.check_perms('Upload Payslip', user_perms) %}
{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block body %}

	{% include 'home/navigation.html' %}
	
	{% include 'flash_message.html' %}
	
	<div class="col-md-2">
	{% include 'finance/left_sidebar_upload.html' %}
	{% include 'finance/upload_payslip_modal.html' %}
	</div>
	<div class="col-md-6">
	{% include 'status.html' %}
		<div class="newsContainer">
			<form method="POST" enctype="multipart/form-data">
				<h4>Select User: </h4>
				<select name="users", onchange="myFunction()">
					{% for user in all_users %}
					<option value={{ user.username }}>{{user.username}}</option>
					{% endfor %}
				</select>
				<input class="btn btn-default" button type="submit" name="button" value="Choose User"></button>
			</form>
	
	
			<h4>File List for {{ whosuser }}:</h4>
			<div class="feed">
				{% for file in filebase %}
				<div>Filename: <a href = "http://127.0.0.1:5000/uploads/payslip/{{ file.filename }}">{{file.filename}}</a></div>
				<div>Date uploaded: {{ moment(file.date).fromNow() }}</div>
				<div><a href = "{{url_for('PaySlip.delete_payslip', file_name = file.filename) }}">Delete File</a></div>
				{% endfor %}
				
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
	{% include 'finance/right_sidebar.html' %}
	</div>
{% endblock %}
{% endif %}