{% if current_user.check_perms('View Payslip', user_perms) %}
{% extends "layout.html" %}	
{% block body %}
	{% include 'home/navigation.html' %}
	{% include 'flash_message.html' %}

	<div class="col-md-2">	
	</div>
	<div class="col-md-6">
		{% include 'status.html' %}
	<h4 style="margin-left:0; font-weight:normal;">File List for {{ user.username }}:</h4>
						<div class="feed">
							{% for file in files_of_the_current_user %}
							<div>Filename: <a href = "http://seerlabs.com:81/iris/uploads/payslip/{{ file.filename }}">{{file.filename}}</a></div>
							<div>Date uploaded: {{ moment(file.date).fromNow() }}</div>
							{% endfor %}
							<div></div>
						</div>
	</div>
	
	<div class="col-md-4">
	{%include 'home/right_sidebar.html' %}
	</div>
	
{% endblock %}
{% endif %}