{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
{% if current_user.is_HR %}
    {% include 'home/navigation.html' %}
    <div class="jumbotron">
     <div class="container">
      <h1>Hi, {{user.username}}! </h1>

      <h3>Current leave statistics: </h3>

      <div class="row">
        <div class="col-md-6">
          <form action = "{{ url_for('Leaves.leaves') }}" method=post>
           {{ form.hidden_tag() }} 

            <table class="table">
              <thead
              <tr>
                    <td></td>
                    <td> No. of available leaves:</td>
                    <td> Input dates for leave: </td>

                <tr>
              </thead>

              <tbody>
             		<th>Sick Leave: </th>
                  <td> {{ leaveData.sl }} </td> <!-- Fetched from DB -->
                  <td> 
                    <input type="Text" id="sickDateField" name="sickDateField" class="form-control" placeholder="mm/dd/yyyy"> 
                    <script> jQuery('#sickDateField').datepicker({ clearBtn: true, multidate: true, multidateSeparator: ";", todayHighlight: true }); </script>
                  </td> 

               	<tr>
               	  <th> Vacation Leave: </th>
                    <td> {{ leaveData.vl }} </td> <!-- Fetched from DB -->
                    <td>
                      <input type="Text" id="vacationDateField" name="vacationDateField" class="form-control" placeholder="mm/dd/yyyy">
                      <script> jQuery('#vacationDateField').datepicker({ clearBtn: true, multidate: true, multidateSeparator: ";", todayHighlight: true }); </script>
                    </td>
              	</tr>
               	
                <tr>
               		<th> Offset days: </th>
                    <td> {{ leaveData.offset }} </td> <!-- Fetched from DB -->
                    <td>
                      <input type="Text" id="offsetDateField" name="offsetDateField" class="form-control" placeholder="mm/dd/yyyy"> 
                      <script> jQuery('#offsetDateField').datepicker({ clearBtn: true, multidate: true, multidateSeparator: ";", todayHighlight: true }); </script>
                    </td>
               	</tr>
     
              </tbody>
            </table>

            <button class="btn btn-lg btn-primary btn-block" type="submitButton" value="submitButton" name = "submitButton"> Submit </button>
          </form>
        </div>
      </div>
    </div> <!-- end div class="col-md-6" -->
  </div>
{% endif %}
      <div class="mainContainer">
        <div class="newsContainer">
          <form name = "chooseUser" action = "{{ url_for('Leaves.leaves') }}" method=post>
            {{ form.hidden_tag() }} 
              <h4>Select User: </h4>
                  <select name="userDropdown" id="userDropdown" onchange="myFunction()">
                    {% for user in all_users %}
                      <option value={{ user.username }}>{{user.username}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" value="chooseUser" name = "chooseUser" id = "chooseUser"> Choose User </button>

          </form>
              <h4>Leave Statistics:</h4>
                <div class="feed">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th></th>
                        <th> # of Days </th>
                        <th> Leave Dates</th>
                      </tr>
                      <tr>
                        <th> Sick Leave: </th>
                          <td> {{ dropDownQuery.sl }} </td>
                          <td> {{ slSummary }}</td>
                      </tr>

                      <tr>
                        <th> Vacation Leave: </th>
                          <td> {{ dropDownQuery.vl }} </td> 
                          <td> {{ vacationSummary }}</td>                          
                      </tr>
                      
                      <tr>
                        <th> Offset days: </th>
                          <td> {{ dropDownQuery.offset }} </td> 
                          <td> {{ offsetSummary }} </td>                          
                      </tr>
                    <tbody>
                  </table>

                </div>
        </div>
      </div>
    </div> <!-- end div class="col-md-6" -->
  </div>

{% endblock %}