{% from "macros.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
	{% include 'home/navigation.html' %}
	{% include 'flash_message.html' %}
	
	<div class="col-md-2">
	{% include 'home/left_sidebar.html' %}
	{% include 'home/upload_picture_modal.html' %}
	</div>
	<div class="col-md-6">
			{% include 'status.html' %}
				<br><br><br><br>
				<div class="newsContainer">
					<h4 style="margin-left:0; font-weight:normal;">Headlines and Announcements:</h4>
					<div class="feed">
						<div class="headBar"><a href="#">Game Time</a> by HR </div>
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ultricies lectus, et venenatis justo.</div>
						<div></div>
					</div>

					<div class="feed">
						<div class="headBar"><a href="#">ISO: Audit Log</a> by Chris Brock </div>
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ultricies lectus, et venenatis justo. Sed scelerisque, lectus sit amet imperdiet egestas, libero quam efficitur felis, vel faucibus eros ante in mauris. </div>
					</div>
				</div>
		
	</div>
	<div class="col-md-4">
	{%include 'home/right_sidebar.html' %}
	</div>
	
{% endblock %}