<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading"><h3>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Files of {{ whosuser }}
      </a></h3>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul class="filebase">
	{% for file in finance %}
	<li class="filelist">
		<div class="file-author"><a href="http://127.0.0.1:5000/uploads/files/{{file. filename}}">{{ file.filename }}</a></div>
		<div class="file-body">Description: {{ file.description }}</div>
		<div class="file-date">Date posted: {{ moment(file.date).fromNow() }}</div>
		<div class="delete-file"><a href="{{ url_for('.delete_file', file_name= file.filename, desc = file.description ) }}">Delete File</a></div><br>
	</li>
	{% endfor %}
      </div>
    </div>
  </div>
 </div>