{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block body %}

	{% include 'home/navigation.html' %}

	<div class="mainContainer">
		<div class="newsContainer">
			{% with reminder = get_flashed_messages() %}
			{% if reminder %}
			<div>
				{% for remind in reminder %}
				{{ remind }}<br>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
	</div>
	<H1>Create Role: </H1>
		<form method="POST" enctype="multipart/form-data">
		<h4 style="margin-left:0; font-weight:normal;">Select Role: </h4>
							<select name="roles", onchange="myFunction()">
								{% for r in list_of_emp %}
								<option value={{ r.name }}>{{r.name}}</option>
								{% endfor %}
							</select>
							<input class="btn btn-default" button type="submit" name="button" value="Delete Role"></button>
	</form>
        </tbody>
      </table>
	 
      </div>
	  
	
{% endblock %}