{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block body %}

	{% include 'home/navigation.html' %}

	<div class="mainContainer">
		<div class="newsContainer">
			{% with reminder = get_flashed_messages() %}
			{% if reminder %}
			<div>
				{% for remind in reminder %}
				{{ remind }}<br>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
	</div>
	<H1>Delete User: </H1>
		
	<form method="POST" enctype="multipart/form-data">
	{{ form.csrf_token }}
	Select User
	{{ render_field(form.chosen_user) }}
	<br>
	{{ render_field(form.submit) }}
	</form>
        </tbody>
      </table>
	  
	
{% endblock %}