{% if current_user.check_perms('Administrator', user_perms) %}
{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block body %}

	{% include 'home/navigation.html' %}
	{% include 'flash_message.html' %}
	<div class="col-md-1">
	</div>
	
	<div class="col-md-10">
		<H1>Define access roles </H1>
		<div class="table-responsive">          
			  <table class="table table-hover">
				<thead>
				  <tr>
					<th> </th>
					{% for i in list_of_perms %}
					<th>{{i}}</th>
					{% endfor %}
				  </tr>
				</thead>
				
			<form method="POST" enctype="multipart/form-data">
			{% for role in list_of_roles %}
				<tbody>
				  <tr>
				  <td>
				  <a href="#" data-toggle="modal" data-target="#confirm-delete"><img src = "{{url_for('static', filename='assets/images/x.png') }}"></a>
				  {{role.name}}
				  </td>
				  
				  {% for perms in list_of_perms %}
					<td><input type="checkbox" name="{{role.name}} {{perms}}" value="{{perms}}" 
					{% if perms in role.load_perms(role.name) %}
					checked
					{% endif %}
					/></td>	
				  {% endfor %}
				  </tr>
				  {% include 'admin/confirmation_roles_modal.html' %}
				  {% endfor %}
				  <input class="btn btn-primary" button type="submit" name="button" value="Save Permissions"></button>
			</form>
				</tbody>
			  </table>
		 
		</div>
	</div>
	
	
	<div class="col-md-1">
	</div>
	
{% endblock %}
{% endif %}