{% if current_user.check_perms('Administrator', user_perms) %}
{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block body %}

	{% include 'home/navigation.html' %}
	{% include 'flash_message.html' %}
	<div class="col-md-1">
	</div>
	
	<div class="col-md-10">
	
		<H1>Edit User Roles </H1>
		<form method="POST" enctype="multipart/form-data">
			<div class="table-responsive">          
			  <table class="table table-bordered table-hover">
				<thead>
				  <tr>
					<th> </th>
					{% for r in roles %}
					<th>{{r.name}}</th>
					{% endfor %}
				  </tr>
				</thead>
				
			
				<tbody>
				  <tr>
				{% for u in all_users %}
					
				  <td>
				  
				  <a href="#" data-toggle="modal" data-target="#confirm-delete-{{ loop.index }}"><img src = "{{url_for('static', filename='assets/images/x.png') }}"></a> 
				  
				  <!-- <a class="confirm" id="alert" href="{{url_for('Users.delete_users', user=u.username)}}"  ><img src = "{{url_for('static', filename='assets/images/check.png') }}"></a> -->
				  {{u.username}}
				  </td>
				  
				  
				  {% for r in roles %}
					<td><input type="checkbox" name="{{u.username}} {{r.name}}" value="{{r.name}}" 
					{% if r in u.load_roles(u.username) %}
					checked
					{% endif %}
					/></td>	
				  {% endfor %}
				  </tr>
				{% include 'admin/confirmation_users_modal.html' %}
				
				{% endfor %}
				
				<input class="btn btn-primary" button type="submit" name="button" value="Save Roles"></input><br>
			</form>
				</tbody>
			  </table>
			 
			</div>
	</div>
	
	<div class="col-md-1">

	</div>
	
{% endblock %}
{% endif %}