<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading"><h3>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        UPLOAD FILE
      </a></h3>
    </div>
    <div id="collapseTwo" class="accordion-body collapse in">
      <div class="accordion-inner">
			<form method="POST" enctype="multipart/form-data">
				<h3>Select User: </h3>
				<select name="users">
					{% for user in all_users %}
					<option value={{ user.username }}>{{user.username}}</option>
					{% endfor %}
				</select>
				
				{% for user in userquery %}
				<h4>{{ user }}<h4>
				{% endfor %}
				<h5>Upload Here</h5>
					<input class="btn btn-default" input name="upload" type="file">
				<h3>Description</h3>
					<input type="text" name="description">
				<input class="btn btn-default" button type="submit" name="button" value="Upload"></button>
			</form>
		</div>
    </div>
  </div>
 </div>