
			<div class="upperContent">
				<div id="detailsBox">
					<div class="nickname">
						{{user.first_name + " " + user.last_name}}
						SuperVisor: {{user.supervisor}}
						SuperVisees: {{user.supervisee}}
						<select>
							<option>@WFH</option>
							<option>@Ecotower</option>
							<option>@Meeting</option>
						</select>
					</div>
					<div id="statBox">
						<table>
							{% for project in utilizationProject %}
								<tr>
									<td>
										<span class="projectUtilizationLabel" style="font-size:10px;">{{project.name}}</span>
									</td>
									<td>
										<div class="projectUtilizationBar" style="width:{{project.percent}}%;">{{ project.percent}}%</div>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<!--div id="appointBox">
					<ul id="appointList">
						<li>Sep 27</li>
						<li>Oct 15</li>
					</ul>
				</div-->
			</div>
