{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class = "page-header">
        <title>Upload new File</title>
		<form method="POST" enctype="multipart/form-data">
		<h3>Select User: </h3>
			<select name="users">
				{% for user in userquery %}
				<option value={{ user.username }}>{{user.username}}</option>
				{% endfor %}
			</select>
		{% for user in userquery %}
		<h4>{{ user }}<h4>
		{% endfor %}
		<h3>Upload File</h3>
			<input class="btn btn-default" input name="upload" type="file">
			<input class="btn btn-default" button type="submit"></button>
		<h3>Description</h3>
			<input type="text" name="description">
        </form>
    </div>
</form>

{% endblock %}